body{
    background-color: white;
}
/* #my_button{
    background-color: #ffd45e;
border-radius: 70px;
trlb */
/* margin-right: 10px;
margin-left: 1100px; */
/* border: 2px solid black; */


.light-mode-seperate-class{
    background-color: gray;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    margin-left: 1000px;
    max-width: 100px;

}
.dark-mode-seperate-class{
    background-color: black;
    
    margin-left: 1000px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    max-width: 100px;
    margin-top: -25px;
    margin-left: 1100px;
    color:  white;



}
#dark_mode_label
{
    color:  white;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#light_mode_label{
    color:  black;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
